.main{
    display: flex;
    height: 120vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 30vh;
    color: black;
}

.body{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.body p{
    font-size: 3.5vw;
    margin: 0px;
    margin-right: 1.5vw;
    font-weight: 700;
}

.body span{
    opacity: 0.2;
}