.main {
  overflow: hidden;
}

.fullScreenHeight {
  height: 50vh;
}

.container {
  position: relative;
}

.slide {
  position: relative;
  display: flex;
  white-space: nowrap;
}

.phrase {
  padding-left: 1.25rem; // px-5
  padding-right: 1.25rem;
  display: flex;
  gap: 1.25rem; // gap-5
  align-items: center;

  p {
    font-size: 7.5vw;
  }

  span {
    position: relative;
    height: 7.5vw;
    aspect-ratio: 4/2;
    border-radius: 9999px; // rounded-full
    overflow: hidden;
  }
}
