


@layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.introLine{
    display: flex;
    font-size: 6vw;
    justify-content: space-between;
    text-transform: uppercase;
  }
  
  .introLine p{
    margin: 0px;
  }
  
  .introLine:nth-of-type(5), .introLine:nth-of-type(6){
    display: inline-flex;
  }
  .introLine:nth-of-type(6){
    right: -40px;
    position: relative;
  }
  
  .introLine p{
    margin: 0px;
  }
